body{box-sizing:content-box;margin: 0pt;}
*{font-family: 'Roboto', sans-serif;}
div{background-color: white;margin-top: 15px;padding-top: 15px;}
#logo{width: 5%;margin-left: 15px;margin-right: 20px;vertical-align: middle;}
a{margin-right: 30px;font-size: 18pt;color: #04146c;font-weight: 400;text-decoration: none;vertical-align: sub;}
.casa{font-weight: 700;}
img{width: 100%;}
.barra{background-color: #0a2ff1;margin-top: 0pt; padding-top: 0pt;height: 20px;}
h1{font-weight: 900;font-size: 72pt;color: #0a2ff1;}
h1,p{text-align: center;}
p{font-weight: 400;font-size: 26pt;color: #04146c;}
